## 0. IMPORTING MODULES
#### RUN THIS SECTION!!! Don't forget it.

In [3]:
#------Run if needed
#pip install bs4

Requirement already satisfied: bs4 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from beautifulsoup4->bs4) (1.9.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# PULL ALL GTHE IMPORTS NECESARY AND 
from bs4 import BeautifulSoup as bs
import os
import requests
import pandas as pd
from selenium import webdriver
from splinter import Browser
import time
import numpy as np
from sqlalchemy import create_engine
from postgreSQLpassword import passW
import psycopg2
import json

In [2]:
passW

'lfsb1101'

## 1. EXTRACT FILES FROM ECOBICI
#### DO NOT RUN this section again! ONLY for documentation purposes.

In [ ]:
#bot to download all info needed

executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# visit the URL
url = 'https://www.ecobici.cdmx.gob.mx/es/informacion-del-servicio/open-data'
browser.visit(url)

months = [str(x) for x in range(1,13)]
years = [str(x)for x in range(2015,2020)]
ecobici = []

for i,year in enumerate(years):
    #CLICK ON YEAR
    string_year = f'//select[@id="edit-year"]//option[@value="{year}"]'
    element_year = browser.find_by_xpath(string_year).first
    element_year.click()
    contador = i+2
    #CLICK ON MONTH
    for month in months:
        if year == 2010 and month == 1:
            next
        if year == 2019 and month == 11: 
            break
        string_month = f'//select[@id="edit-month--{contador}"]//option[@value="{month}"]'
        element_month = browser.find_by_xpath(string_month).first
        element_month.click()
        time.sleep(5)
        #CLICK ON DESCARGAR
        browser.click_link_by_text("Descargar")
        time.sleep(5)

## 2. DATA TO POSTRGESQL

#### BEFORE RUNNING THIS SECTION:
#### a. Update your PostgreSQL password in file "postgreSQLpassword.py" provided with these files.
#### b. Open PostgreSQL and create a new database called "newecobici".
#### c. Left-click on the new database "newecobici" and create a "Query tool".
#### d. On the Query tool, open the file "CreateEcoBIcidatabase.sql" provided with these files and run it. This should create the table needed to store the data.

#### ONCE YOU'VE DONE THESE STEPS, RUN THE FOLLOWING CODE :).

In [2]:
try:
    del EcoBiciDf
except:
    print("No DF exists yet!")

No DF exists yet!

In [3]:
connection_string = "postgresql://postgres:"+passW+"@localhost:5432/newecobici"
engine = create_engine(connection_string)

In [ ]:
months=[x for x in range(1,13)]
years=[x for x in range(2010,2020)]

start_time = time.time()

for yr in years:
    for mo in months:
        if mo<10:
            filedir=f'./EcoBiciData/Trips/{yr}-0{mo}.csv'
        else:
            filedir=f'./EcoBiciData/Trips/{yr}-{mo}.csv'
        try:    
            EcoBiciDf=pd.read_csv(filedir, low_memory=False)
            EcoBiciDf=EcoBiciDf.rename(str.lower, axis='columns')
            if yr==2015 and mo==1:
                EcoBiciDf=EcoBiciDf[EcoBiciDf.fecha_retiro!='2015-01']
            elif (yr==2016 and mo>=8) or yr==2017 or yr==2018 or (yr==2019 and mo!=3):
                mo=EcoBiciDf['fecha_retiro'].str.slice(start=3,stop=5)
                da=EcoBiciDf['fecha_retiro'].str.slice(start=0,stop=2)
                ye=EcoBiciDf['fecha_retiro'].str.slice(start=6,stop=10)
                EcoBiciDf['fecha_retiro']=ye+"-"+mo+"-"+da
                mo=EcoBiciDf['fecha_arribo'].str.slice(start=3,stop=5)
                da=EcoBiciDf['fecha_arribo'].str.slice(start=0,stop=2)
                ye=EcoBiciDf['fecha_arribo'].str.slice(start=6,stop=10)
                EcoBiciDf['fecha_arribo']=ye+"-"+mo+"-"+da
            elif yr==2019 and mo==3:
                mo=EcoBiciDf['fecha_retiro'].str.slice(start=3,stop=5)
                da=EcoBiciDf['fecha_retiro'].str.slice(start=0,stop=2)
                ye=EcoBiciDf['fecha_retiro'].str.slice(start=6,stop=10)
                EcoBiciDf['fecha_retiro']=ye+"-"+mo+"-"+da
                mo=EcoBiciDf['fecha_arribo'].str.slice(start=3,stop=5)
                da=EcoBiciDf['fecha_arribo'].str.slice(start=0,stop=2)
                ye=EcoBiciDf['fecha_arribo'].str.slice(start=6,stop=10)
                EcoBiciDf['fecha_arribo']=ye+"-"+mo+"-"+da
                EcoBiciDf = EcoBiciDf.drop('unnamed: 9', 1)
                EcoBiciDf.iloc[113432,6]="10"
                EcoBiciDf.iloc[113432,7]="2019-03-06"
                EcoBiciDf.iloc[113432,8]="08:41:11"
            EcoBiciDf['mes_retiro']=EcoBiciDf['fecha_retiro'].str.slice(start=5,stop=7)
            EcoBiciDf['anio_retiro']=EcoBiciDf['fecha_retiro'].str.slice(start=0,stop=4)
            EcoBiciDf.to_sql('ecobicidf', con=engine, if_exists="append", index = False)
            print(f'File {filedir} successfully added to SQL database!')
            del EcoBiciDf
        except:
            print(f'File {filedir} does not exist!')
            
print("--- %s seconds ---" % (time.time() - start_time))

## 3. DATA QUERIES :)

#### Once you have your database in PostgreSQL (i.e. once you did step 2), you are ready to go!
#### This section is for exploratory purposes (e.g., to practice with queries and see how to export it).

In [ ]:
#varAge = "025"
#varGender = "female"
#varTime = "beginning"
#varGtype = "dayOfWeek"

vAg=['all','025','2635','3645','46more']
vGe=['all','female','male']
vTi=['all','beginning','morning','afternoon','evening']
vGy=['yearly','monthly','daily','dayOfWeek','monthOfYear'] 

for x in vAg:
    for y in vGe:
        for z in vTi:
            for w in vGy:
                varAge = x
                varGender = y
                varTime = z
                varGtype = w

                if varAge=="all":
                    plugAge=" "
                elif varAge=="025":
                    plugAge=" AND (edad_usuario<=25) "
                elif varAge=="2635":
                    plugAge=" AND (edad_usuario>=26 AND edad_usuario<=35) "
                elif varAge=="3645":
                    plugAge=" AND (edad_usuario>=36 AND edad_usuario<=45) "
                elif varAge=="46more":
                    plugAge=" AND (edad_usuario>=46) "

                if varGender=="all":
                    plugGender=" "
                elif varGender=="female":
                    plugGender=" AND (genero_usuario='F') "
                elif varGender=="male":
                    plugGender=" AND (genero_usuario='M') "

                if varTime=="all":
                    plugTime=" "
                elif varTime=="beginning":
                    plugTime=" AND (hora_retiro>='00:00:00' AND hora_retiro<='05:59:59') "
                elif varTime=="morning":
                    plugTime=" AND (hora_retiro>='06:00:00' AND hora_retiro<='11:59:59') "
                elif varTime=="afternoon":
                    plugTime=" AND (hora_retiro>='12:00:00' AND hora_retiro<='17:59:59') "
                elif varTime=="evening":
                    plugTime=" AND (hora_retiro>='18:00:00' AND hora_retiro<='23:59:59') "

                plugQueryMid=f'WHERE(fecha_retiro IS NOT NULL {plugAge} {plugGender} {plugTime})'

                if varGtype=="yearly":
                    plugQueryBegin="SELECT EXTRACT(YEAR FROM fecha_retiro) AS ddate, COUNT(*), AVG((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro)) AS avgtime FROM ecobicidf "
                    plugQueryEnd=" GROUP BY(EXTRACT (YEAR FROM fecha_retiro)) ORDER BY (EXTRACT (YEAR FROM fecha_retiro));"
                elif varGtype=="monthly":
                    plugQueryBegin="SELECT TO_CHAR(DATE_TRUNC('month',fecha_retiro)::DATE,'Mon-YYYY') AS ddate, COUNT(*), AVG((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro)) AS avgtime FROM ecobicidf "
                    plugQueryEnd=" GROUP BY(DATE_TRUNC('month',fecha_retiro)::date ) ORDER BY (DATE_TRUNC('month',fecha_retiro)::DATE);"
                elif varGtype=="daily":
                    plugQueryBegin="SELECT fecha_retiro AS ddate, COUNT(*), AVG((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro)) AS avgtime FROM ecobicidf "
                    plugQueryEnd=" GROUP BY(fecha_retiro) ORDER BY(fecha_retiro);"
                elif varGtype=="dayOfWeek":
                    plugQueryBegin="SELECT TO_CHAR(fecha_retiro,'Dy') AS ddate, COUNT(*), AVG((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro)) AS avgtime, TO_CHAR(fecha_retiro, 'D') AS junk FROM ecobicidf "
                    plugQueryEnd=" GROUP BY(TO_CHAR(fecha_retiro,'Dy'),TO_CHAR(fecha_retiro,'D')) ORDER BY 4;"
                elif varGtype=="monthOfYear":
                    plugQueryBegin="SELECT TO_CHAR(fecha_retiro,'Mon') AS ddate, COUNT(*), AVG((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro)) AS avgtime, TO_CHAR(fecha_retiro, 'MM') AS junk FROM ecobicidf "
                    plugQueryEnd=" GROUP BY(TO_CHAR(fecha_retiro,'MM'), TO_CHAR(fecha_retiro,'Mon')) ORDER BY 4;"

                plugQuery=plugQueryBegin+plugQueryMid+plugQueryEnd

                conn = psycopg2.connect(database="newecobici",user="postgres", password=passW, host ="localhost",port="5432")
                df = pd.read_sql_query(plugQuery,conn)
                json = df.to_json(orient='records',date_format='iso')
                print(f'Success: {varAge} {varGender} {varTime} {varGtype}')

Success: all all all yearly
Success: all all all monthly
Success: all all all daily
Success: all all all dayOfWeek
Success: all all all monthOfYear
Success: all all beginning yearly
Success: all all beginning monthly
Success: all all beginning daily
Success: all all beginning dayOfWeek
Success: all all beginning monthOfYear
Success: all all morning yearly
Success: all all morning monthly
Success: all all morning daily
Success: all all morning dayOfWeek
Success: all all morning monthOfYear
Success: all all afternoon yearly
Success: all all afternoon monthly
Success: all all afternoon daily
Success: all all afternoon dayOfWeek
Success: all all afternoon monthOfYear
Success: all all evening yearly
Success: all all evening monthly
Success: all all evening daily
Success: all all evening dayOfWeek
Success: all all evening monthOfYear
Success: all female all yearly
Success: all female all monthly
Success: all female all daily
Success: all female all dayOfWeek
Success: all female all monthOfYear
Success: all female beginning yearly
Success: all female beginning monthly
Success: all female beginning daily
Success: all female beginning dayOfWeek
Success: all female beginning monthOfYear
Success: all female morning yearly
Success: all female morning monthly
Success: all female morning daily
Success: all female morning dayOfWeek
Success: all female morning monthOfYear
Success: all female afternoon yearly
Success: all female afternoon monthly
Success: all female afternoon daily
Success: all female afternoon dayOfWeek
Success: all female afternoon monthOfYear
Success: all female evening yearly
Success: all female evening monthly
Success: all female evening daily
Success: all female evening dayOfWeek
Success: all female evening monthOfYear
Success: all male all yearly
Success: all male all monthly
Success: all male all daily
Success: all male all dayOfWeek
Success: all male all monthOfYear
Success: all male beginning yearly
Success: all male beginning monthly
Success: all male beginning daily
Success: all male beginning dayOfWeek
Success: all male beginning monthOfYear
Success: all male morning yearly
Success: all male morning monthly
Success: all male morning daily
Success: all male morning dayOfWeek
Success: all male morning monthOfYear
Success: all male afternoon yearly
Success: all male afternoon monthly
Success: all male afternoon daily
Success: all male afternoon dayOfWeek

In [17]:
df

  ddate  count         avgtime junk
0   Sun   2018 00:17:47.512175    1
1   Mon   1952 00:13:50.610584    2
2   Tue   2431 00:11:26.027098    3
3   Wed   2586 00:11:54.568580    4
4   Thu   2751 00:14:07.105412    5
5   Fri   2756 00:13:58.011213    6
6   Sat   2552 00:16:29.913715    7

In [18]:
json

'[{"ddate":"Sun","count":2018,"avgtime":"1970-01-01T00:17:47.512Z","junk":"1"},{"ddate":"Mon","count":1952,"avgtime":"1970-01-01T00:13:50.610Z","junk":"2"},{"ddate":"Tue","count":2431,"avgtime":"1970-01-01T00:11:26.027Z","junk":"3"},{"ddate":"Wed","count":2586,"avgtime":"1970-01-01T00:11:54.568Z","junk":"4"},{"ddate":"Thu","count":2751,"avgtime":"1970-01-01T00:14:07.105Z","junk":"5"},{"ddate":"Fri","count":2756,"avgtime":"1970-01-01T00:13:58.011Z","junk":"6"},{"ddate":"Sat","count":2552,"avgtime":"1970-01-01T00:16:29.913Z","junk":"7"}]'

In [19]:
conn.close()

In [14]:
conn = psycopg2.connect(database="newecobici",user="postgres", password=passW, host ="localhost",port="5432")
print("Database Connected...")

Database Connected...

In [15]:
cursor=conn.cursor()

In [16]:
#df =pd.read_sql_query("Select fecha_retiro, count(genero_usuario) from ecobicidf group by 1",conn)
df =pd.read_sql_query("Select anio_retiro, mes_retiro, count(*) from ecobicidf group by (anio_retiro, mes_retiro) order by (anio_retiro, mes_retiro)",conn)

In [17]:
df.tail()

     anio_retiro  mes_retiro   count
112         2019           6  695693
113         2019           7  703290
114         2019           8  748677
115         2019           9  673816
116         2019          10  740948

In [18]:
#prev = df.to_dict()

In [19]:
#prev

In [20]:
anio_retiro = df.anio_retiro.to_list()
mes_retiro = df.mes_retiro.to_list()
count = df["count"].to_list()

In [21]:
json.loads(df.to_json())

{'anio_retiro': {'0': 2010,
  '1': 2010,
  '2': 2010,
  '3': 2010,
  '4': 2010,
  '5': 2010,
  '6': 2010,
  '7': 2010,
  '8': 2010,
  '9': 2010,
  '10': 2010,
  '11': 2011,
  '12': 2011,
  '13': 2011,
  '14': 2011,
  '15': 2011,
  '16': 2011,
  '17': 2011,
  '18': 2011,
  '19': 2011,
  '20': 2011,
  '21': 2011,
  '22': 2011,
  '23': 2012,
  '24': 2012,
  '25': 2012,
  '26': 2012,
  '27': 2012,
  '28': 2012,
  '29': 2012,
  '30': 2012,
  '31': 2012,
  '32': 2012,
  '33': 2012,
  '34': 2012,
  '35': 2013,
  '36': 2013,
  '37': 2013,
  '38': 2013,
  '39': 2013,
  '40': 2013,
  '41': 2013,
  '42': 2013,
  '43': 2013,
  '44': 2013,
  '45': 2013,
  '46': 2013,
  '47': 2014,
  '48': 2014,
  '49': 2014,
  '50': 2014,
  '51': 2014,
  '52': 2014,
  '53': 2014,
  '54': 2014,
  '55': 2014,
  '56': 2014,
  '57': 2014,
  '58': 2014,
  '59': 2015,
  '60': 2015,
  '61': 2015,
  '62': 2015,
  '63': 2015,
  '64': 2015,
  '65': 2015,
  '66': 2015,
  '67': 2015,
  '68': 2015,
  '69': 2015,
  '70': 2015,
  '71': 2016,
  '72': 2016,
  '73': 2016,
  '74': 2016,
  '75': 2016,
  '76': 2016,
  '77': 2016,
  '78': 2016,
  '79': 2016,
  '80': 2016,
  '81': 2016,
  '82': 2016,
  '83': 2017,
  '84': 2017,
  '85': 2017,
  '86': 2017,
  '87': 2017,
  '88': 2017,
  '89': 2017,
  '90': 2017,
  '91': 2017,
  '92': 2017,
  '93': 2017,
  '94': 2017,
  '95': 2018,
  '96': 2018,
  '97': 2018,
  '98': 2018,
  '99': 2018,
  '100': 2018,
  '101': 2018,
  '102': 2018,
  '103': 2018,
  '104': 2018,
  '105': 2018,
  '106': 2018,
  '107': 2019,
  '108': 2019,
  '109': 2019,
  '110': 2019,
  '111': 2019,
  '112': 2019,
  '113': 2019,
  '114': 2019,
  '115': 2019,
  '116': 2019},
 'mes_retiro': {'0': 2,
  '1': 3,
  '2': 4,
  '3': 5,
  '4': 6,
  '5': 7,
  '6': 8,
  '7': 9,
  '8': 10,
  '9': 11,
  '10': 12,
  '11': 1,
  '12': 2,
  '13': 3,
  '14': 4,
  '15': 5,
  '16': 6,
  '17': 7,
  '18': 8,
  '19': 9,
  '20': 10,
  '21': 11,
  '22': 12,
  '23': 1,
  '24': 2,
  '25': 3,
  '26': 4,
  '27': 5,
  '28': 6,
  '29': 7,
  '30': 8,
  '31': 9,
  '32': 10,
  '33': 11,
  '34': 12,
  '35': 1,
  '36': 2,
  '37': 3,
  '38': 4,
  '39': 5,
  '40': 6,
  '41': 7,
  '42': 8,
  '43': 9,
  '44': 10,
  '45': 11,
  '46': 12,
  '47': 1,
  '48': 2,
  '49': 3,
  '50': 4,
  '51': 5,
  '52': 6,
  '53': 7,
  '54': 8,
  '55': 9,
  '56': 10,
  '57': 11,
  '58': 12,
  '59': 1,
  '60': 2,
  '61': 3,
  '62': 4,
  '63': 5,
  '64': 6,
  '65': 7,
  '66': 8,
  '67': 9,
  '68': 10,
  '69': 11,
  '70': 12,
  '71': 1,
  '72': 2,
  '73': 3,
  '74': 4,
  '75': 5,
  '76': 6,
  '77': 7,
  '78': 8,
  '79': 9,
  '80': 10,
  '81': 11,
  '82': 12,
  '83': 1,
  '84': 2,
  '85': 3,
  '86': 4,
  '87': 5,
  '88': 6,
  '89': 7,
  '90': 8,
  '91': 9,
  '92': 10,
  '93': 11,
  '94': 12,
  '95': 1,
  '96': 2,
  '97': 3,
  '98': 4,
  '99': 5,
  '100': 6,
  '101': 7,
  '102': 8,
  '103': 9,
  '104': 10,
  '105': 11,
  '106': 12,
  '107': 1,
  '108': 2,
  '109': 3,
  '110': 4,
  '111': 5,
  '112': 6,
  '113': 7,
  '114': 8,
  '115': 9,
  '116': 10},
 'count': {'0': 1061,
  '1': 21031,
  '2': 44988,
  '3': 59811,
  '4': 64704,
  '5': 58787,
  '6': 82303,
  '7': 100168,
  '8': 132294,
  '9': 134095,
  '10': 141839,
  '11': 194045,
  '12': 213468,
  '13': 263154,
  '14': 226485,
  '15': 238167,
  '16': 220416,
  '17': 188063,
  '18': 212491,
  '19': 207899,
  '20': 200861,
  '21': 198241,
  '22': 179683,
  '23': 192269,
  '24': 186314,
  '25': 205318,
  '26': 187937,
  '27': 224732,
  '28': 197072,
  '29': 194222,
  '30': 194769,
  '31': 210666,
  '32': 309085,
  '33': 320557,
  '34': 314978,
  '35': 408515,
  '36': 407911,
  '37': 413361,
  '38': 492976,
  '39': 551558,
  '40': 524102,
  '41': 576526,
  '42': 615972,
  '43': 574002,
  '44': 713428,
  '45': 656277,
  '46': 580728,
  '47': 664936,
  '48': 691343,
  '49': 746617,
  '50': 608133,
  '51': 668832,
  '52': 598804,
  '53': 663005,
  '54': 662520,
  '55': 647637,
  '56': 730202,
  '57': 666719,
  '58': 567737,
  '59': 537879,
  '60': 656938,
  '61': 816933,
  '62': 812314,
  '63': 759760,
  '64': 810256,
  '65': 806944,
  '66': 805503,
  '67': 769274,
  '68': 870593,
  '69': 795538,
  '70': 662793,
  '71': 679340,
  '72': 708769,
  '73': 713851,
  '74': 817716,
  '75': 823148,
  '76': 789264,
  '77': 714395,
  '78': 781069,
  '79': 768688,
  '80': 840048,
  '81': 744700,
  '82': 688551,
  '83': 810683,
  '84': 794456,
  '85': 878369,
  '86': 705377,
  '87': 872457,
  '88': 853608,
  '89': 773361,
  '90': 843568,
  '91': 710035,
  '92': 828979,
  '93': 796621,
  '94': 630555,
  '95': 686323,
  '96': 694212,
  '97': 737187,
  '98': 756456,
  '99': 798116,
  '100': 690094,
  '101': 718596,
  '102': 732960,
  '103': 701005,
  '104': 784325,
  '105': 675158,
  '106': 565833,
  '107': 697342,
  '108': 684186,
  '109': 752200,
  '110': 690044,
  '111': 750908,
  '112': 695693,
  '113': 703290,
  '114': 748677,
  '115': 673816,
  '116': 740948}}

In [10]:
{
    "anio_retiro":anio_retiro,
    "mes_retiro":mes_retiro,
    "count":count,
}

{'anio_retiro': [2010,
  2010,
  2010,
  2010,
  2010,
  2010,
  2010,
  2010,
  2010,
  2010,
  2010,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2011,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2012,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2013,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2014,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2015,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2016,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2017,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2019,
  2019,
  2019,
  2019,
  2019,
  2019,
  2019,
  2019,
  2019,
  2019],
 'mes_retiro': [2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10],
 'count': [1061,
  21031,
  44988,
  59811,
  64704,
  58787,
  82303,
  100168,
  132294,
  134095,
  141839,
  194045,
  213468,
  263154,
  226485,
  238167,
  220416,
  188063,
  212491,
  207899,
  200861,
  198241,
  179683,
  192269,
  186314,
  205318,
  187937,
  224732,
  197072,
  194222,
  194769,
  210666,
  309085,
  320557,
  314978,
  408515,
  407911,
  413361,
  492976,
  551558,
  524102,
  576526,
  615972,
  574002,
  713428,
  656277,
  580728,
  664936,
  691343,
  746617,
  608133,
  668832,
  598804,
  663005,
  662520,
  647637,
  730202,
  666719,
  567737,
  537879,
  656938,
  816933,
  812314,
  759760,
  810256,
  806944,
  805503,
  769274,
  870593,
  795538,
  662793,
  679340,
  708769,
  713851,
  817716,
  823148,
  789264,
  714395,
  781069,
  768688,
  840048,
  744700,
  688551,
  810683,
  794456,
  878369,
  705377,
  872457,
  853608,
  773361,
  843568,
  710035,
  828979,
  796621,
  630555,
  686323,
  694212,
  737187,
  756456,
  798116,
  690094,
  718596,
  732960,
  701005,
  784325,
  675158,
  565833,
  697342,
  684186,
  752200,
  690044,
  750908,
  695693,
  703290,
  748677,
  673816,
  740948]}

In [88]:
geo_df =pd.read_sql_query("Select ciclo_estacion_retiro, ciclo_estacion_arribo, count(genero_usuario) as count, avg((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro)) from ecobicidf where (((fecha_arribo+hora_arribo)-(fecha_retiro+hora_retiro))>='00:20:00' and ciclo_estacion_retiro<>ciclo_estacion_arribo) group by 1,2 order by count desc limit 10",conn)
geo_df

   ciclo_estacion_retiro  ciclo_estacion_arribo  count             avg
0                     61                     70   1829 00:35:55.648846
1                     70                     61   1658 00:37:23.058325
2                     21                     43   1488 00:28:19.146068
3                     27                     43   1125 00:45:30.610498
4                     27                     87   1006 00:31:44.662378
5                     13                     43    982 00:28:36.552070
6                     27                     90    967 00:30:50.505897
7                     21                     87    915 00:30:38.294372
8                     29                     41    914 00:52:34.594303
9                     41                     13    875 00:31:36.118249

In [89]:
prev_geo = geo_df.to_dict()

In [13]:
conn.close()